---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  br
  .row
    .small-12.medium-7.columns
      h4 Do you receive any of the following benefits?
  .row      
    .small-12.medium-6.columns
      ul
        li Income-based Jobseeker’s Allowance (JSA)
        li Income-related Employment and Support Allowance (ESA)
        li Income Support
        li Universal Credit (and you’re earning less than £6,000 a year)
        li State Pension (Guarantee Credit)
        li Scottish Civil Legal Aid (not Advice and Assistance or Advice by Way of Representation)

  .row
    .small-12.medium-6.columns  
      .options.radio
        .option
          label for="case-yes"
            input id="case-yes" type="radio" name="case" value="false"
            | Yes, I am receiving one of the benefits listed
        .option
          label for="case-no"
            input id="case-no" type="radio" name="case" value="true"
            | No

  br
  .row
    .small-12.medium-6.columns
      a href='refund.html'
        .button.success Continue




javascript:
  $(document).ready( function() {
  });

  $("input[name='kid']").on('change', function () {
    $('#kid-number').toggleClass('hide', $("input[name='kid']:checked").val() == "true");
    buildNextUrl($("input[name='kid']:checked").val() == "true" ? '#.html' : '#.html');
  });