---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.medium-6.columns
      br
      h4 What is your status?
      p If your case is against your partner, such as a divorce, dissolution or domestic violence, select single.
  .row  
    .small-12.medium-6.columns.end   
      .options.radio
        .option
          label for="status-no"
            input id="status-no" type="radio" name="status" value="true"
            | Single 
            .option
          label for="status-yes"
            input id="status-yes" type="radio" name="status" value="false"
            | Married or living with someone and sharing an income

  br
  .row
    .small-12.columns
      a href='savings.html'
        .button.success Continue