@import 'colours';

h1, h2 {
  font-weight: 600;
}
h3, h4, h5 {
  font-weight: 500;
}
dl {
  dt {
    font-weight: 500;
    margin-bottom: 0;
  }
}
dl.compact dd {
  margin-bottom: 0;
}

input[type="radio"]:checked + label {
//  background-color: #007095;
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
  display: block;
  width: auto;
  overflow: hidden;
}

a, details > summary {
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
}


$gutter: 30px;
$gutter-one-quarter: $gutter/4;
$gutter-one-third: $gutter/3;
$gutter-half: $gutter/2;
$gutter-two-thirds: $gutter - $gutter-one-third;

.feedback-header {
  font-weight: bold;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.options.radio label {

  display: block;
  float: none;
  clear: left;
  position: relative;

  background: $panel-colour;
  border: 1px solid $panel-colour;
  padding: (18px $gutter $gutter-half $gutter*1.5);
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: pointer; // Encourage clicking on block labels

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    top: 18px;
    left: $gutter-half;
    cursor: pointer;
  }
  // Change border on hover
  &:hover {
    border-color: $black;
  }
  &.selected {
    background: #fff;
    border-color: #0b0c0c;
  }
  &.first {
    margin-top: 0px;
  }
}

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 10px 15px 45px 0;
}
span.hint {
  color: $secondary-text-colour;
  &.block {
    display: block;
  }
}

.savings-data {
  .row.hide-top:first-child { border-top: none;}
  .row:last-child { border-bottom: 1px solid #bfc1c3; }
  .row {
    border-top: 1px solid #bfc1c3;
    padding: 25px 0;
    .table-label {
      color:#666666;
    }
    .highlight {
      font-weight:bold;
    }
  }
}


.panel.callout {
  padding:30px 15px;
  margin-bottom: 2em;
  color:#ffffff;
  h3 {
    color: $page-colour;
    margin: 0;
  }
  &.not-received {
    background-color: $error-colour;
  }
  &.received{
    background-color: $turquoise;
  }
  &.callout-none {
    background-color: $error-colour;
  }
  &.callout-full {
    background: $turquoise;
  }
  &.callout-part {
    background: $orange;
  }
  p
  {
    margin:0;
  }
}

ul {
  margin-bottom: 0;
}


.status-font {
  color: white;
  font-size: 1.5em;
  padding-right: 10px;
  vertical-align: middle;
}

.top-bar .section h1 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  text-align: left;
  text-decoration: none;
}

.summary-result-success {
  color: #28A197;
  font-weight: bold;
}
.summary-result-failure {
  color: $error-colour;
  font-weight: bold;
}

.button.pending {
  background: $orange;
}

.orange {
  color: $orange;
}

.copyref {
  margin-bottom: 0px;
}

.panel.callout.pending {
  background-color: #999;
}

.panel.success {
  background-color: #a4b378;
}

.panel.unsuccess {
  background-color:#ef9799;
  text-decoration: none;
}

.panel.waiting {
  background-color:#f47738;
  text-decoration: none;
}

.sidebar {
  margin-top: 40px;
  border-top: 8px solid #0b5fa3;
}

input[type="text"] {
  margin-bottom: 1.5rem;
}

.options.radio.juri {
  margin-bottom: 30px;
}

.expired {
  body-background: #efd0d3;
}
