
.transform-upper {
  text-transform: uppercase;
}

#dwp-result.callout {
  padding:20px 10px;
  margin-bottom: 2em;

  &.callout-warning {
    border: 3px solid #df3034;
    color:black;
    margin-top: 20px;
    padding: 15px;
  }

  &.callout-passed{
    background-color: #43AC6A;
    color; #fff;
  }
  &.callout-failed {
    background-color: #f2f2f2;
  }
  p
  {
    margin:0;
  }
  .number{
    font-size: 24px;
  }
}
#dwp_data {
  .row:nth-child(odd) { background-color: #eeeeee;}
  .row:last-child { border-bottom: 1px solid #bfc1c3; }
  .row {
    border-top: 1px solid #bfc1c3;
    line-height: 3em;
    .dwp-label {
      color:#666666;
    }
    .dwp-value {
      font-weight:bold;
    }
  }
}