.calc {
  color: #888;
}

.calc .selected {
  color: green;
  /*	font-style: underline;*/
  /*	font-weight: bold;*/
  /*	background-color: pink;*/
}

.calc .selected.full {
  color: green;
}

.calc .selected.partial {
  color: orange;
}

.calc .selected.none {
  color: red;
}

.calc .selected span.result {
  font-weight: bold;
}

.no_selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}