h1 About getting help with court and tribunal fees 
br Individuals can apply for financial help with their court or tribunal fees if they: 
ul 
  li Individuals can apply for financial help with their court or tribunal fees if they: 
  li only have a small amount of savings and investments 
  li and receive certain benefits
  li or are on a low income 
br This service used to be known as ‘fee remission’.

h5 Processing applications for help with fees 

br You can process all applications using the online service. The service has a link to the Department for Work and Pensions so can check whether applicants are receiving benefits.  

br When you’ve entered all the information from the form you’ll get a result about whether the applicant is eligible for help with fees. 

br You’ll also be prompted to send a letter requesting further information or part-payment if the applicant hasn’t fully completed the form, or is eligible to pay part of the fee. 

h5 Evidence 
br In most cases you won’t need to check paper evidence (eg bank statements and payslips). However, some applications are chosen to have evidence checked. When this happens, you’ll be prompted to write to the applicant asking to see evidence of their income. A letter will be generated for you to use. 

br Applications will move to ‘Applications waiting for evidence’ until you receive the evidence. 

h5 Setting up your account 
br You’ll need to be set up with an account to process help with fees applications using the online tool at: URL HERE
br Your team manager is usually responsible for setting up your account.  
br You’ll receive an email with a link to set up your password. Once you’ve done this, you’re ready to start processing. 

h5 Updating your details 
br You can update your: 
ul
  li name
  li jurisdiction
  li office
  li password

br Click on your name in the top right hand corner of the page to view and update your details.
br Your role will be set to ‘staff’ or ‘manager’. This can only be changed by another manager. Staff can process applications, managers can add and remove staff members as well as process applications.

br Your email address can’t be changed. This is for security reasons.  If you need to use a different email address, then you’ll need to have a new account set up. 