
h5 Before you start
p
  details
    summary Check the statement of truth has been signed
  	div Unsigned forms should be returned to the applicant
p
  details
    summary Check the applicant is not one of these
  	div 
      <ul>
        <li> the list of <a href="http://www.gov.uk/guidance/vexatious-litigants" target="_blank"> vexatious litigants</a></li>

        <li> bound by a <a href="http://www.gov.uk/guidance/general-civil-restraint-orders-in-force" target="_blank"> general civil restraint order (CRO)</a></li>

        <li> bound by an <a href="http://www.gov.uk/guidance/extended-civil-restraint-orders-in-force" target="_blank"> extended civil restraint order (CRO)</a></li>

        <li> bound by a <a href="#">restrictions of proceedings order (RPO)</a></li>

        <li> receiving Legal Aid, see more <a href="#">about Legal Aid </a></li>

        <li> a company (excluding companies applying to the Gambling Appeals Tribunal) see more about <a href="#">exceptions for companies </a></li>

        <li>li a charity or not for profit organisation (excluding those making a case to the UK Supreme Court) see more about <a href="#">exceptions for charities and non-profit organisations</a></li>
      </ul>
p
  details
    summary Check the case or claim is not one of these
  	div		
  		<ul>
        <li> either a money claim online (MCOL) or possession claim online (PCOL) (including refunds)</li>

        <li> a request for duplicate documents or search fees (unless the applicant did not receive the originals or had no fixed address when an order was made)</li>
  		</ul>

h5 National Insurance number 
p If the applicant has answered ‘Yes’ to question 9, but has not provided their NI number in question 1, contact them by phone to ask for it.

h5 Status
p  If the applicant is part of a couple but their case concerns their partner, eg divorce, dissolution or domestic violence, select 'Single'.