h5 Savings and investments
p The maximum amount of savings and investments allowed is calculated for you. This is based on the fee and applicant's age (and that of their partner if they have one). See more about the <a href='#'> maximum amounts of savings and investments allowed </a>  
  