h5 If this result is unexpected 
p It takes a couple of days for the Department for Work and Pensions to be updated with information about new applicants. 
br If you’re processing the application at the counter, ask the applicant for a letter to show they’re receiving these benefits. 
