h5 Total monthly income
p To calculate total monthly income from evidence provided, add up all the money in (before tax and National Insurance) from the applicant's bank statements, payslips and other evidence.

h5 Part of a couple
p If the applicant’s status is ‘Married or living with someone and sharing an income’, they must provide evidence of their partner’s income.
  
h5 Excluded benefits
pSome benefits shouldn't be included - eg Carer's Allowance, Housing Benefit or childcare element of Working Tax Credit. See full list below.