h5 Total monthly income
p AAdd the total monthly income (before tax and National Insurance) from the evidence supplied

h5 Part of a couple
p If the applicant is part of a couple they must have provided evidence of their partner’s income
  
h5 Excluded benefits
p Some benefits shouldn't be included as income, eg Carer's Allowance, Housing Benefit or childcare element of Working Tax Credit, see the full list of
	a href="#" excluded benefits