h5 Part fee payment is incorrect
br If the payment is incorrect – whether the wrong amount or an incorrect cheque – try to contact the applicant by phone to request the correct amount. 
br If unsuccessful, write to them returning the cheque and ask for correct payment. 