h4 Before you start
p Check the name on the evidence matches the name on the application.
p Check the evidence is dated within 3 months of receiving the application.

h4 Refunds
p Check the evidence is dated within 3 months of when the fee was paid.