---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      h4 Your feedback
      br
  .row
    .small-12.medium-6.columns
      label for='case-number'
        | How useful did you find the information on this page?
        textarea rows="4" cols="50"
        br

  .row
    .small-12.medium-6.columns
      label for='case-number'
        | Can you help us improve?
        textarea rows="4" cols="50"
        br

  br
  br

  .row
    .small-12.medium-6.columns
      p Your comments and feedback about applying for help with court and tribunal fees are very valuable. Enter your email address below and a member of the team will get in touch.
      p We won't use your email address for anything else.
      br
      label for='case-number'
        | Email address
        input name='form_number' id='form_number' type='text'


  br
  .row
    .small-12.columns
      a href='contact.html'
        .button.success Continue




javascript:
  $(document).ready( function() {
  });

  $("input[name='case']").on('change', function () {
    $('#case-number').toggleClass('hide', $("input[name='case']:checked").val() == "true");
    buildNextUrl($("input[name='case']:checked").val() == "true" ? '#.html' : '#.html');
  });