---
title: 'Help with fees'
nav_title: 'Help with fees'
section_title: 'Process application'
rh_help: true
---
form
  br
  .row
    .small-12.columns
      h2 Savings and investments
  br
  .row
    .small-12.columns
      label
        span#status-describe In question 8, how much do they have in savings and investments?
  br
  .row
    .small-12.medium-5.large-5.columns
      .small-2.medium-3.large-3.columns style="padding:0px;"
        span.prefix
          label.inline for='savings-detail' £
      .small-10.medium-9.large-9.columns style="padding:0px;"
        input id='savings-detail' type="number" max="16000"

  br
  .row
    .small-12.medium-7.large-7.columns
      a#next-url href='4-benefits.html'
        .button.success Next

javascript:
  $(document).ready( function() {
    buildNextUrl('4-benefits.html');

    $('#next-url').on('click', function(e) {
      e.preventDefault();
      var $form = $(e.target).closest('form')[0];
      if($form.checkValidity()) {
        document.location = $('#next-url').attr('href');
      } else {
        $('<input type="submit">').hide().appendTo($form).click().remove();
      }
    });
  });
  $("input#savings-detail").on('change', function () {
    var $input = $("#savings-detail"),
        amount = parseInt($input.val(), 10),
        threshold = getUrlParameter('threshold'),
        nextPage = '4-benefits.html',
        fail = false;

    if(amount > threshold) {
      if(getUrlParameter('couple') === 'true') {
        nextPage = '3-partner-age.html';
      } else {
        nextPage = '7-summary.html';
        fail = true;
      }
    }

    buildNextUrl(nextPage);
    $("#next-url").attr("href", updateQueryStringParameter('savings-detail',  amount));
    if(fail) {
      $("#next-url").attr("href", updateQueryStringParameter('savings-exceeded',  'true'));
    }
  });
