---
title: 'Help with fees'
nav_title: 'Help with fees'
section_title: 'Process application'
rh_help: false
---
form
  br
  .row
    .small-12.columns
      .panel.callout.grey
        .confirm-box
          div.confirmation-two
            img src="../assets/images/confirmation-tick.png" width="27px" height="27px" style="margin-right:15px;"
              |The reference number is

          div.confirmation
            |AT001-15-3

  .row
    .small-12.medium-7.large-8.columns
      h3 Result

  .row
    .small-12.medium-5.large-3.columns
      .subheader Savings and investments
    .small-12.medium-7.large-9.columns
      #savings-result-display.result-display.summary-result-success ✗ Failed
  #results-income.hide
    .row
      .small-12.medium-5.large-3.columns
        .subheader Income
      .small-12.medium-7.large-9.columns
        #income-result-display.result-display.summary-result-failure ✗ Failed
  #results-benefits.hide
    .row
      .small-12.medium-5.large-3.columns
        .subheader Benefits
      .small-12.medium-7.large-9.columns
        #benefits-result-display.result-display.summary-result-failure ✗ Failed
  br
  .row
    .small-12.columns
      .panel.callout.callout-ineligible
        .row
          .small-12.columns
            h3 Not eligible for help with fees

  hr
  br
  h3 Next steps
  .row
    .small-12.columns
      ul
        li Write the reference number on the top right corner of the paper form
        li Copy the reference number into the case management system
        li Write to the applicant and send back all the documents

      p
        a href="#" See the guides

  br
  .row
    .small-12.columns
      a.button.success href='../index.html' Back to start


javascript:
  $(document).ready(function() {
    var text = {
      fail: '✗ Failed',
      pass: '✓ Passed'
    };

    // default view caters for failing on savings

    if(getValue('staff', 'savings-exceeded') === 'false') {
      // passed on savings
      $('#savings-result-display').text(text.pass);
      if(getValue('staff', 'benefits') === 'true') {
        // benefits route
        $('#results-benefits').show();
        if(getValue('staff', 'evidence') === 'false') {
          // didn't supply evidence
          $('#benefits-result-display').text([text.fail, '(evidence not provided)'].join(' '));
        } else if(getValue('staff', 'evidence-correct') === 'false') {
          // evidence supplied but not valid
          $('#benefits-result-display').text([text.fail, '(evidence incorrect)'].join(' '));
        }
      } else {
        // failed on income
        $('#results-income').show();
      }
    }
  });
