---
title: 'Help with fees'
nav_title: 'Help with fees'
section_title: 'Process Application'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2
        |Application waiting for evidence
  br
  .row
    .small-12.medium-8.large-8.columns
      .panel.callout.pending
        .row
          .small-12.medium-7.large-8.columns
            h3 TD48-ES23

  .row
    .small-12.medium-12.large-12.columns
      h4 Next steps
      ul
        li Write the reference number on the top right corner of the paper form
        li store and application and documents in a secure location
        li Write to the applicant asking them to send evidence in support of their application. You can copy and paste the letter below: 
  br
  .row
    .small-12.medium-12.large-12.columns
      .panel

        p Reference: TD48-ES23
        br
        p Dear Mr Mark Morgan
        p We’ve received your application for financial help with court or tribunal fees and need to see the following: 
        ul
          li 3 months of bank statements 
          li 1 month of payslips 
          li any other proof of regular money that comes in to your bank account (for example, working tax credit letters or a letter confirming financial support from your family)
        br
        p Please send these documents within 7 calendar days of receiving this letter to:
        p 
          |[Court name and address]  

  br
  .row
    .small-12.medium-6.large-6.columns
      a.button.success href='../index.html' Back to start


javascript:
  $(document).ready( function() {
    //$('#spot-check-true').toggle((getUrlParameter('spotcheck'))=='true');

    //if ((getUrlParameter('spotcheck')=='false' && getUrlParameter('spotcheck')=='false')) {
      //var show = !!Math.floor(Math.random() * 2);
      //$('#spot-check-rand').toggle(!!Math.floor(Math.random() * 2));
    //}
    $('a div.button.success').on('click', function() {
      $('#copied').fadeTo(1,1).fadeTo(2000, 0);
    });
  });
