---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.columns
      h2 Processed application


  br
  .row
    .small-12.columns
      .panel.callout.grey
        h3 AT001-15-4

  .row
    .small-12.medium-7.large-8.columns
      h4 Personal details
  .row
    .small-12.medium-5.large-4.columns
      .subheader Full name
    .small-12.medium-7.large-8.columns
      | Mr John Smith
  .row
    .small-12.medium-5.large-4.columns
      .subheader Date of birth
    .small-12.medium-7.large-8.columns
      | 22 April 1983
  .row
    .small-12.medium-5.large-4.columns
      .subheader NI number
    .small-12.medium-7.large-8.columns
      | SG 75 17 16 C
  .row
    .small-12.medium-5.large-4.columns
      .subheader Status
    .small-12.medium-7.large-8.columns
      | Single
  hr

  .row
    .small-12.medium-7.large-8.columns
      h4 Application details
  .row
    .small-12.medium-5.large-4.columns
      .subheader Fee
    .small-12.medium-7.large-8.columns
      | £410
  .row
    .small-12.medium-5.large-4.columns
      .subheader Jurisdiction
    .small-12.medium-7.large-8.columns
      | Family court
  .row
    .small-12.medium-5.large-4.columns
      .subheader Date application received
    .small-12.medium-7.large-8.columns
      | 9 January 2016
  .row
    .small-12.medium-5.large-4.columns
      .subheader Form name or number
    .small-12.medium-7.large-8.columns
      | D8
  hr
  .row
    .small-12.medium-7.large-8.columns
      h4 Savings and investments
  .row
    .small-12.medium-5.large-4.columns
      .subheader Savings total eligible
    .small-12.medium-7.large-8.columns
      | Yes
  hr
  .row
    .small-12.medium-7.large-8.columns
      h4 Benefits
  .row
    .small-12.medium-5.large-4.columns
      .subheader Receiving eligible benefits
    .small-12.medium-7.large-8.columns
      | Yes
  .row
    .small-12.medium-5.large-4.columns
      .subheader Evidence provided
    .small-12.medium-7.large-8.columns
      | No

  hr
  .row
    .small-12.medium-7.large-8.columns
      h4 Result
  .row
    .small-12.medium-5.large-4.columns
      .subheader Savings and investments
    .small-12.medium-7.large-8.columns
      #income-result-display.summary-result-success ✓ Passed
  .row
    .small-12.medium-5.large-4.columns
      .subheader Benefits
    .small-12.medium-7.large-8.columns.summary-result-failure#outcome
      | ✗ Failed (no evidence provided)
  br
  .row
    .small-12.medium-12.large-12.columns
      .panel.callout.callout-ineligible
        h3 Not eligible for help with fees

  .row
    .small-12.columns
      h4 Processing details
      table width="100%"
        tr
          th width="23%" Application processed
          td width="16%" 10 January 2016
          td width="18%" Juliana Richardson
          td width="46%"
        tr
          th Evidence processed
          td 11 January 2016
          td Juliana Richardson
          td Reason not processed: "The applicant did not provide the relevant paper evidence."

  br
  #override
    .panel
      details
        summary
          | Grant help with fees
        .row
          .small-12.columns
              br
              p You can update details for this application if:
              .options.radio
                .option
                  label for="override-reasons-paper"
                    input id="override-reasons-paper" type="radio" name="override-reasons" value="Paper evidence received"
                    | You've received paper evidence that the applicant is receiving benefits
                .option
                  label for="override-reasons-check"
                    input id="override-reasons-check" type="radio" name="override-reasons" value="DWP Check"
                    | You want to check if the applicant is receiving benefits using the DWP checker (and it was unavailable when the application was first processed)
                .option
                  label for="override-reasons-discretion"
                    input id="override-reasons-discretion" type="radio" name="override-reasons" value="Discretion applied"
                    | You are exercising discretion with this application
                .option
                  label for="override-reasons-other"
                    input id="override-reasons-other" type="radio" name="override-reasons" value="other"
                    | Other

        #override-other.hide
          .row
            .small-12.columns
              .panel-indent
                label for="override-other-detail"
                  | Other reason for granting help with fees
                .small-6
                  input name="override-other-detail" id="override-other-detail" type="text"

        a#store-override.button href='application-granted.html' Update application


  .row
    .small-12.columns
      .panel
        details
          summary Delete application
          div
            .panel-indent
              p You can delete an application if you've made a mistake or the applicant no longer needs help with their fee.
              label Describe why you're deleting this application
              textarea rows="4" cols="50"
              a.button.small.alert href='8-confirmation-expired.html' Delete application


javascript:
  $(document).ready( function() {
  });
