---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2 AT001-15-4
  hr
  .row
    .small-12.medium-7.large-8.columns
      h4 Personal details
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Full name
    .small-12.medium-7.large-8.columns 
      | Mr John Smith
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Date of birth
    .small-12.medium-7.large-8.columns 
      | 10 Jan 1976
  .row
    .small-12.medium-5.large-4.columns 
      .subheader NI number
    .small-12.medium-7.large-8.columns 
      | SG 75 17 16 C
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Status
    .small-12.medium-7.large-8.columns 
      | Single
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Number of children
    .small-12.medium-7.large-8.columns 
      | None
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Total monthly income
    .small-12.medium-7.large-8.columns 
      | £1000
    .small-12.columns
  hr

  .row
    .small-12.medium-7.large-8.columns
      h4 Application details
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Fee
    .small-12.medium-7.large-8.columns 
      | £410
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Jurisdiction
    .small-12.medium-7.large-8.columns 
      | Family court
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Date application received
    .small-12.medium-7.large-8.columns 
      | 22 Apr 2015
  .row
    .small-12.medium-5.large-4.columns 
      .subheader Form name or number
    .small-12.medium-7.large-8.columns 
      | D8
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Date processed
    .small-12.medium-8.large-8.columns 
      | 15 Oct 2015 
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Processed by
    .small-12.medium-8.large-8.columns 
      | Juliana Richardson
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Reference
    .small-12.medium-8.large-8.columns 
      | AT001-15-4
    .small-12.columns  
  hr
  .row
    .small-12.medium-7.large-8.columns
      h4 Result
  .row
    .small-12.medium-5.large-4.columns
      .subheader Savings
    .small-12.medium-7.large-8.columns
      #income-result-display.summary-result-success &#10003; Passed
  .row
    .small-12.medium-5.large-4.columns
      .subheader Income
    .small-12.medium-7.large-8.columns.summary-result-success#outcome
      | &#10003; Passed
  br
  .row
    .small-12.medium-12.large-12.columns    
      .panel.callout.received
        h3 The applicant doesn't have to pay the fee
        

  .row
    .small-12.medium-6.columns
      .panel  
        details
          summary Was this application processed in error or the proceedings never took place?
          div If a mistake was made while processing this application, or the case or claim in which ist relates to was never issue or proceeded with, you can remove the application from the system, this will remove it from the finance records.
          br
          a.button.small.alert href='list-processed-oct.html' Remove application
          p The application will need to be processed again for it to be logged onto the system.

javascript:
  $(document).ready( function() {
  });
