---
title: Help with fees
nav_title: 'Help with fees: R1 Calculator'
---
h4 Benefits check
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'

= partial 'shared/dwp_form'