---
title: 'Help with fees'
nav_title: 'Help with fees'
---
h2 Check benefits status

= partial 'shared/dwp_form'


javascript:
  $(document).ready( function() {
    $('#dwp-check').addClass('active')
  });