---
title: 'Help with fees'
nav_title: 'Help with fees'
section_title: 'Process evidence'
---
= javascript_include_tag 'income_calculator'
br
.row
  .small-12.medium-12.large-12.columns
    h2 Income

#r2_calculator_income
  input data-check='fee' id="fee" name="fee" type="hidden"
  input data-check='children' id='children' type="hidden"
  .row.hide
    .small-12.medium-3.large-5.columns.form-group
      #status-block
        label.error data-check-error='couple' Please select a marital status
        .row
          .columns.small-12
            label Status
            .options.radio
              .option
                label for='couple-no'
                  input data-check='couple' id='couple-no' name="couple" type="radio" value='false'
                  |Single
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |Married or living with someone and sharing an income
  br
  .row#income-block
    .small-12.columns
      .row
        .small-12.columns
          label.error data-check-error='income' for='income' Please enter an income
          label for='income' Total monthly income from evidence
      .row
        .small-12.medium-5.large-5.columns
          .row.collapse.prefix-radius
            .small-2.medium-3.large-3.columns
              span.prefix
                label.inline for='income' £
            .small-10.medium-9.large-9.columns
              input data-check='income' name="income" id="income" type="number"
  br
  .row
    .small-12.medium-8.large-5.columns
      button.button.primary.success#check_btn Next

#r2_calculator_result
  .row
    .columns.small-12.medium-12.large-11
      #calculator.callout
        h3.bold#fee-remit

  .row
    .small-12.columns
      a#next-url href="evidence-check-6a.html"
        .button.success Next

javascript:
  $(document).ready(function () {
    $('#fee').val('410');
    $('#children').val('1');
    $("input[name='couple'][value='false']").prop("checked", true)
    buildNextUrl('evidence-check-6a.html');
  });
