---
title: 'Help with fees'
nav_title: 'Help with fees'
---

form
  br
  br
  .row
    .small-12.medium-12.large-12.columns
      h4 style="margin-bottom:0px; font-weight:normal;"
        span.hint
          |Help with fees – guidance
      h2 style="margin-top:0px;" Part fee payments
      br
      h4 style="font-weight:normal;" What to do when the applicant must pay only part of the fee.  

  br
  .row
    .small-12.medium-4.large-4.columns
      h5 Contents
      p
        a href='guide-part-payments.html#intro' Introduction
      p
        a href='guide-part-payments.html#what-to-do' What to do
      br
      p
        a.button href="guide-part-payments.html#more-guides" More guides &nbsp; &nbsp; ⬇


    .small-12.medium-8.large-8.columns

      h3 id="intro" Introduction

      p Applicants may be eligible to pay only part of their fee, depending on their income, whether they have any dependent children or if they are part of a couple. 

      p The exact amount will be worked out for you and a letter generated for you to send to the applicant requesting the part fee payment. 

      p The applicant will have 7 calendar days to provide payment. 
 

      br
      .panel
        h3 id="what-to-do" What to do
        
        h5 When correct payment is received:

        ul
          li select the application from the list ‘Awaiting payment’
          li log the payment as being received

        br
        h5 When incorrect payment is received:

        ul
          li try to contact the applicant by phone to request the correct payment
          li if this is unsuccessful, write to the applicant requesting the correct payment
          li For over-payments, return the cheque
          li For under-payments, request a cheque for the additional amount

        br
        h5 When no payment is received after 7 calendar days:

        ul
          li select the application from the list ‘Awaiting payment’
          li select 'write letter to the applicant' and a letter will be generated for you
          li post the letter and all the documents back to the applicant

  br
  br
  .row
    .small-12.columns
      .panel.callout.blue
        h4 style="color:white; font-weight:normal;" id="more-guides" More guides
  .row
    .small-12.columns
      p
        a href="#" Updating your details
      p
        a href="guide-evidence.html" Applications awaiting evidence
      p
        a href="guide-part-payments.html" Applications awaiting payment
      p
        a href="guide-appeals.html" Appeals
      p
        a href="guide-fraud.html" Suspected fraud
      p
        a href="#" Frequently used terms
      p
        a href="#" Questions about this guidance
        

