---
title: 'Help with fees'
nav_title: 'Help with fees'
---

form
  br
  br
  .row
    .small-12.medium-12.large-12.columns
    h4 style="margin-bottom:0px; font-weight:normal;"
      span.hint
        |Help with fees – guidance
    h2 style="margin-top:0px;" Suspected fraud
    br
    h4 style="font-weight:normal;" Lorem ipsum dolor set amit consectetur lorem ipsum dolor lorem ipsum

  br
  .row
    .small-12.medium-4.large-4.columns
      h5 Contents
      p
        a href='guide-fraud.html#intro' Introduction
      p
        a href='guide-fraud.html#what-to-do' What to do
      p
        a href='guide-fraud.html#further-info' Further information
      br
      p
        a.button href="guide-fraud.html#more-guides" More guides &nbsp; &nbsp; ⬇


    .small-12.medium-8.large-8.columns

      h3 id="intro" Introduction

      p In rare cases, criminal proceedings can be brought against an applicant for fraud if they are found to have intentionally made false declaration(s) on their application for help with fees.  

      br
      h3 id="what-to-do" What to do
      p If you suspect that an applicant has made fraudulent claims you should:

      ul
        li Pass the details on to your delivery manager
        li Delivery managers should refer the application to the HMCTS Governance and Assurance Fraud and Investigations team. The Fraud and Investigations team can take referrals by telephone or email.
        li The fraud team will take on the application and make enquiries
        li They will be in touch with a verdict and let you know whether you should process the application, or write a letter to the applicant and post all of the documents back

      br
      h3 id="further-info" Further information
      

      p 
        |Phone: 020 3334 6729
        br
        |Email: <a href="mailto:investigations@hmcts.gsi.gov.uk">investigations@hmcts.gsi.gov.uk</a>

      p For more information
        <a href="http://libra.lcd.gsi.gov.uk/hmcts/governance-assurance/fraud-investigations/index.htm"> visit the fraud page on the intranet</a>.

          br
  br
  .row
    .small-12.columns
      .panel.callout.blue
        h4 style="color:white; font-weight:normal;" id="more-guides" More guides
  .row
    .small-12.columns
      p
        a href="#" Updating your details
      p
        a href="#" Applications awaiting evidence
      p
        a href="#" Applications awaiting payment
      p
        a href="#" Appeals
      p
        a href="#" Suspected fraud
      p
        a href="#" Frequently used terms
      p
        a href="#" Questions about this guidance
        

