---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2 Deleted applications
  br

  .row
    .small-12.columns
      table width="100%"
        thead
          tr
            th Reference
            th Applicant
            th Date received
            th Date processed
            th Processed by
            th Emergency

        tbody
          tr
            td 
              a href='application-deleted.html'
                | AT001-15-112
            td Ms Sarah Nicoles
            td 15 October
            td 15 October
            td Juliana Richardson
            td

          tr
            td 
              a href='application-deleted.html'
                | AT001-15-113
            td Mrs Tray Caulson
            td 15 October
            td 16 October
            td Juliana Richardson
            td Yes

  br
  br
  .row
    .small-12.columns
      .row
        .small-10.columns
        .small-2.columns
          a href="#"
            img src="../assets/images/next-page.jpg"

javascript:
  $(document).ready( function() {
  });
