---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2 Processed applications
  br


  .row
    .small-12.columns
      .panel
         .row      
          .small-12.medium-4.columns
            label for='first_name' Date from
            span.hint For example DD/MM/YYYY
            input name='first_name' type='text' placeholder='1/11/2015'     
          .small-12.medium-4.columns
            label for='first_name' Date to
            span.hint For example DD/MM/YYYY
            input name='first_name' type='text' placeholder='1/12/2015'
          .small-12.medium-4.columns
            a href='list-processed-month.html'
              .button.success style='margin-top:36px;'
                | Show applications
  br


  .row
    .small-12.columns
      table width="100%"
        thead
          tr
            th Reference
            th Applicant
            th Date received
            th Date processed
            th Processed by
            th Emergency

        tbody
          tr
            td 
              a href='application.html'
                | AT001-15-106
            td Mr John Smith
            td 2 November
            td 2 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application.html'
                | AT001-15-106
            td Mr George Rogers
            td 3 November
            td 3 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application.html'
                | AT001-15-106
            td Mr Catherine Holmes
            td 4 November
            td 5 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application.html'
                | AT001-15-106
            td Mr Dan Flutter
            td 9 November
            td 9 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application-emergency.html'
                | AT001-15-107
            td Mrs Vanessa Smith
            td 10 November
            td 12 November
            td Juliana Richardson
            td 

          tr
            td
              a href='application.html'
                | AT001-15-108
            td Mr Peter Geoffery-Smith
            td 16 November
            td 16 November
            td Juliana Richardson
            td
          tr
            td 
              a href='application-emergency.html'
                | AT001-15-109
            td Mr Wayne Quinn
            td 19 November
            td 20 November
            td Juliana Richardson
            td 

          tr
            td 
              a href='application.html'
                | AT001-15-110
            td Mrs Wilma Goring
            td 23 November
            td 23 November
            td Juliana Richardson
            td

          tr
            td
              a href='application.html'
                | AT001-15-111
            td Mr Peter Geoffery-Smith
            td 24 November
            td 24 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application.html'
                | AT001-15-112
            td Ms Sarah Nicoles
            td 25 November
            td 25 November
            td Juliana Richardson
            td

          tr
            td 
              a href='application-emergency.html'
                | AT001-15-113
            td Mrs Tray Caulson
            td 30 November
            td 30 November
            td Juliana Richardson
            td Yes

  .row
    .small-12.columns
      .row
        .small-3.columns
          img src="../assets/images/previous-page.jpg"
      .row
        .small-6.columns
      .row
        .small-3.columns
          img src="../assets/images/next-page.jpg"









            

javascript:
  $(document).ready( function() {
  });
