---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2 Processed applications
  br

  .row
    .small-12.medium-4.columns
      p.large
        a href="list-processed-aug.html" ❮ Previous month
    .small-12.medium-4.columns
      h4 style="text-align:center;" September 2015
    .small-12.medium-4.columns
      p.large style="text-align:right;"
        a href="list-processed-oct.html" Next month ❯
  .row
    .small-12.columns
      table width="100%"
        thead
          tr
            th Reference
            th Applicant
            th Date received
            th Date processed
            th Processed by
            th Emergency

        tbody
          tr
            td 
              a href='application.html'
                | AT001-15-106
            td Mr John Smith
            td 5 September
            td 5 September
            td Juliana Richardson
            td

          tr
            td 
              a href='application-emergency.html'
                | AT001-15-107
            td Mrs Vanessa Smith
            td 10 September
            td 12 September
            td Juliana Richardson
            td Yes

          tr
            td
              a href='application.html'
                | AT001-15-108
            td Mr Peter Geoffery-Smith
            td 15 September
            td 15 September
            td Juliana Richardson
            td
          tr
            td 
              a href='application-emergency.html'
                | AT001-15-109
            td Mr John Smith
            td 19 September
            td 20 September
            td Juliana Richardson
            td Yes

          tr
            td 
              a href='application.html'
                | AT001-15-110
            td Mrs Vanessa Smith
            td 24 September
            td 24 September
            td Juliana Richardson
            td

          tr
            td
              a href='application.html'
                | AT001-15-111
            td Mr Peter Geoffery-Smith
            td 30 September
            td 30 September
            td Juliana Richardson
            td

javascript:
  $(document).ready( function() {
  });
