---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  .row
    .small-12.medium-12.large-12.columns
      h2 AD08-BK56

  br
  .row
    .small-12.medium-12.large-12.columns
      a#next-url href='#.html'
        .button.success Process evidence
 
  .row
    .small-12.medium-12.large-12.columns
      details
        summary What if the applicant has paid the fee?
        div Test test test
  br
  .row
    .small-12.medium-8.large-8.columns
      h4 Personal details
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Full name
    .small-12.medium-8.large-8.columns 
      | Mr John Smith
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Date of birth
    .small-12.medium-8.large-8.columns 
      | 10 Jan 1976
  .row
    .small-12.medium-4.large-4.columns 
      .subheader National Insurance number
    .small-12.medium-8.large-8.columns 
      | SG 75 17 16 C
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Status
    .small-12.medium-8.large-8.columns 
      | Single
    .small-12.columns
  hr

  .row
    .small-12.medium-8.large-8.columns
      h4 Application details
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Fee
    .small-12.medium-8.large-8.columns 
      | £410
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Jurisdiction
    .small-12.medium-8.large-8.columns 
      | Family court
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Date application received
    .small-12.medium-8.large-8.columns 
      | 19 Jun 2015
    .row
    .small-12.medium-4.large-4.columns 
      .subheader Form name or number
    .small-12.medium-8.large-8.columns 
      | D8
    .small-12.columns  
  hr
  .row
    .small-12.medium-8.large-8.columns
      h4 Assessment
  .row
    .small-12.medium-4.large-4.columns
      .subheader Savings and investments
    .small-12.medium-8.large-8.columns
      #income-result-display.summary-result-success &#10003; Passed
  .row
    .small-12.medium-4.large-4.columns
      .subheader Income
    .small-12.medium-8.large-8.columns
      #income-result-display.summary-result-success &#10003; Passed
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Number of children
    .small-12.medium-8.large-8.columns 
      | None
  .row
    .small-12.medium-4.large-4.columns 
      .subheader Total monthly income
    .small-12.medium-8.large-8.columns 
      | £1000
  br
  .row
    .small-12.medium-12.large-12.columns    
      .panel.callout.received
        h3 The applicant doesn't have to pay the fee

javascript:
  $(document).ready( function() {
  });
