---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.medium-6.columns
      br
      span.hint
        | Step 17 of&nbsp;
        span.total-steps 20
      br
      h4 What's your email address?


  .row
    .small-12.medium-6.columns
      p class="large"
        | We can email you to confirm your application has been received.

  .row
    .small-12.medium-6.columns
      label for='email-address'
        | Email address
        input id='email-address' name='email-address' type='text'



  .row
    .small-12.medium-6.columns
      .options.check
        .option
          label for="email"
            input id="email" name="email" type="checkbox"
            | &nbsp;Check this box if you're willing to share your experience of this service. A member of the team may contact you. We won't use your email address for anything else.

      br
      a#next-url href="summary.html"
        .button.success Continue


  br
  .row
    .small-12.medium-7.large-6.columns
      a href='start.html'
        | Start a new application


javascript:

  $(document).ready( function() {
    buildNextUrl('summary.html');

    /*
    $("#email-address").on('change', function () {
      storeValue('public', 'email-address', $('#email-address').val());
    });
    */
  });
