---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      span.hint &nbsp; &nbsp; Step 6 of 18
      br
      h4#refund-false How much do you have in savings and investments
      h4#refund-true How much did you have in savings and investments at the time you paid the fee?

  .row
    .small-12.medium-5.large-5.columns
      .small-2.medium-3.large-3.columns style="padding:0px;"
        span.prefix
          label.inline for='fee' £
      .small-10.medium-9.large-9.columns style="padding:0px;"
        input id='fee' type="number"
  br
  .row
    .small-12.columns
      a#next-url href='benefits.html'
        .button.success Continue


javascript:
  $(document).ready( function() {
    buildNextUrl('benefits.html');
    $('#refund-true').toggle(getUrlParameter('refund') == 'true');
    $('#refund-false').toggle(getUrlParameter('refund') == 'false');
  });