---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      h1 Apply for help with fees
      p.large You may not have to pay a court or tribunal fee or you may get some money off. To be eligible you should have a small amount of savings, and be on a low income or receiving certain benefits.
  br

  .row
    .small-12.columns
      h3 To be eligible for help with fees, you need to show that:
      br
      ol
        li style="margin-bottom: 20px;"
          | You (and your partner if you have one) have a small amount of savings  
          details style="margin-top: 10px;"
            summary More about maximum savings amounts
            .panel-indent
              p In most cases you (and your partner if you have one) should have less than £3,000 in savings and investments if you’re under 61. If you’re 61 or over, you can have up to £16,000.
              p Savings and investments don't include your main home, personal belongings, wages or benefits.

        li style="margin-bottom: 20px;"
          | And you’re <strong>either</strong> on benefits
          details style="margin-top: 10px;"
            summary There are 6 qualifying benefits
            .panel-indent
              h5 If you receive 1 of these benefits (and have a small amount of savings) you won't have to pay a fee:
              ul
                li Jobseeker’s Allowance (JSA)
                li Employment and Support Allowance (ESA)
                li Income Support
                li Universal Credit
                li Pension Credit (Guarantee Credit)
                li Scottish Civil Legal Aid

        li style="margin-bottom: 20px;"
          | <strong>or</strong> have a low income.
          details style="margin-top: 10px;"
            summary More about what qualifies as a low income 
            .panel-indent
              p If you earn less a month than the amounts in the table below (before tax and National Insurance has been taken off) then you won't have to pay a fee. This can include benefits, eg working tax credit, child tax credit.

              table
                thead
                  tr
                    th Number of children
                    th If you're single
                    th If you have a partner
                tbody
                  tr
                    td 0
                    td £1,085
                    td £1,245
                  tr
                    td 1
                    td £1,330
                    td £1,490
                  tr
                    td 2
                    td £1,575
                    td £1,735

              p If you have 3 or more children there’s an extra allowance of £245 for each child.

              p See the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/508766/ex160a-eng-20160212.pdf">guide</a> for detailed information about who is eligible to apply for help with fees.


  br
  .row
    .small-12.columns
      h3 What you'll need:
      ul
        li National Insurance number
        li court or tribunal form name or number
        li case, claim or ‘notice to pay’ number (if you have one)
        li most recent bank statement for all current accounts
        li most recent payslip (if you have one)
        li most recent tax return (if you're self employed)
      br
      p Applying takes around 10 minutes. This service is for England and Wales only.
      br

  .row
    .small-12.columns
      a href='form-number.html'
        .button.success.large Apply now
  br
  .row
    .small-12.columns
//      h3 Other ways to apply
      br You can also apply by post using the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/508760/ex160-eng-20160212.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a> form.

javascript:
  $(function() {
    clearAppData('public');
  });
