---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      h1 Apply for help with fees
      p.large You may not have to pay a court or tribunal fee, or you may get some money off.

  br
  .row
    .small-12.columns
      h4 You're eligible to apply if:
      .panel 
        |You have less than £3,000 in savings and investments 

  .row
    .small-12.columns    
      .row data-equalizer=''
        .small-6.columns
          .panel data-equalizer-watch=''
            p You're receiving one of these benefits:
            ul
              li
                span Income-based Jobseeker's Allowance
                span.hint
                  |&nbsp;(JSA)
              li
                span Income-related Employment and Support Allowance
                span.hint
                  |&nbsp;(ESA)
              li
                span Income Support
              li
                span Universal Credit
                span.hint
                  |&nbsp;(and you’re earning less than £6,000 a year)
              li
                span State Pension
                span.hint
                  |&nbsp;(Guarantee Credit)
              li
                span Scottish Civil Legal Aid
                span.hint
                  |&nbsp;(not Advice and Assistance or Advice by Way of Representation)
            p We'll check you're receiving these benefits with the Department for Work and Pensions. 
        .small-6.columns
          .panel data-equalizer-watch=''
            p Your total monthly income is less than £1,085 
            p Income can include benefits such as working tax credit and child tax credit. 
            p See more about what you should <a href="#"> include as income</a>. 
            p The information you provide about your income will act as evidence to support your application.  

  .row
    .small-12.columns
      br See more detailed information about  <a href="#">who can apply for help with fees</a>. 

  .row
    .small-12.columns
      br
      h4 What you need to apply:
      ul
        li 
          |the court or tribunal form name or number for your claim <br> (the form name is often at the top of the form; the number at the bottom)
        li 
          |your case, claim or ‘notice to pay’ number <br>(find this on letters from the court or tribunal, or leave blank if your claim hasn't started yet)
        li your National Insurance number 
        li your most recent month’s bank statement for all current accounts
        li your most recent payslip (or tax return if you are self employed)
        br
      p Applying takes around 10 minutes. This service is for England and Wales only.
  br
  .row
    .small-12.columns
      a href='status.html'
        .button.success.large Apply now
  br
  .row
    .small-12.columns
      h4 Other ways to apply
      p You can also apply by post using the <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a> form.

      

      

