---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      a href="name.html" Back
      span.hint &nbsp; &nbsp; Question 13 of 14
      br
      br
      h4 What is your address?
  .row
    .small-12.medium-6.columns
      label for='case-number'
        | Address
        textarea rows="4" cols="50"
  .row 
    .small-12.medium-3.columns
      label for='case-number'
        | Postcode
        input name='form_number' id='form_number' type='text'

  br
  .row
    .small-12.columns
      a href='contact.html'
        .button.success Continue




javascript:
  $(document).ready( function() {
  });

  $("input[name='case']").on('change', function () {
    $('#case-number').toggleClass('hide', $("input[name='case']:checked").val() == "true");
    buildNextUrl($("input[name='case']:checked").val() == "true" ? '#.html' : '#.html');
  });