---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  br
  .row
    .small-12.medium-7.columns
      h4 Do you receive any of the following benefits?
      p We’ll contact the Department for Work and Pensions to confirm that you are (or were) getting one of these benefits.
  .row      
    .small-12.medium-6.columns
      ul
        li Income-based Jobseeker’s Allowance (JSA)
        li Income-related Employment and Support Allowance (ESA)
        li Income Support
        li Universal Credit (and you’re earning less than £6,000 a year)
        li State Pension (Guarantee Credit)
        li Scottish Civil Legal Aid (not Advice and Assistance or Advice by Way of Representation)
  



  br
  .row
    .small-12.medium-6.columns   
      .options.radio
        .option
          label for="payment-correct-yes"
            input id="payment-correct-yes" type="radio" name="payment-correct" value="true"
            | Yes, I am receiving one of the benefits listed
        .option
          label for="payment-correct-no"
            input id="payment-correct-no" type="radio" name="payment-correct" value="false"
            | No

  br
  .row
    .small-12.medium-7.columns  
      details
        summary Help with benefits
        .panel-indent 
          h5 If you’ve only recently started receiving one of these benefits
          p 
            |(for example, in the last few days), our staff may not be able to confirm your eligibility with the Department for Work and Pensions. In this case you should provide a letter from the job centre.
          h5 Benefits with similar names
          p There are some benefits with similar names. If you are receiving one of the benefits listed below, select 'No'.
          ul
            li Contribution-based Job Seekers Allowance (JSA)
            li Contribution-based Employment Support Allowance (ESA)
            li Pension Credit and Savings Credit
            li Universal Credit (and you're earning more than £6,000 a year)
            li Scottish Legal Aid Advice and Assistance
            li Scottish Legal Aid Advice by Way of Representation (ABWOR)

  br
  .row
    .small-12.medium-12.large-12.columns
      a#next-url href='refund.html'
        .button.success Continue


javascript:
  $(document).ready( function() {
  });

  $("input[name='payment-correct']").on('change', function () {
    $('#payment-comment').toggleClass('hide', $("input[name='payment-correct']:checked").val() == "true");
    buildNextUrl($("input[name='payment-correct']:checked").val() == "true" ? 'refund.html' : 'children.html');
  });
