---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      a href="probate.html" Back
      span.hint &nbsp; &nbsp; Step 9 of 17
      br
      br
      h4 Do you have a case, claim or ‘notice to pay’ number?
      p Find this number on letters from the court or tribunal.

    .small-12.medium-6.columns.end   
      .options.radio
        .option
          label for="case-no"
            input id="case-no" type="radio" name="case" value="true"
            | No 
            .option
          label for="case-yes"
            input id="case-yes" type="radio" name="case" value="false"
            | Yes
  #case-number.hide
    .row
      .small-12.medium-6.columns
        .panel-indent
          label for='case-number'
            | The case, claim or ‘notice to pay’ number is
            input name='form_number' id='form_number' type='text'

  br
  .row
    .small-12.medium-6.columns  
      details
        summary Help with case number
        .panel-indent
          p The court or tribunal creates a reference number for every case. This is sometimes called a claim number, case number, or ‘notice to pay’ number.
          p If your case is ongoing then you’ll find the reference number on letters from the court or tribunal.
          p If you don’t have a reference number (this might be because your case hasn’t started yet) leave this question blank.

  br
  .row
    .small-12.columns
      a#next-url href='form-number.html'
        .button.success Continue




javascript:
  $(document).ready( function() {
    buildNextUrl('form-number.html');
    $('#refund-true').toggle(getUrlParameter('refund') == 'true');
    $('#refund-false').toggle(getUrlParameter('refund') == 'false');
  });

  $("input[name='case']").on('change', function () {
    $('#case-number').toggleClass('hide', $("input[name='case']:checked").val() == "true");
    //buildNextUrl($("input[name='case']:checked").val() == "true" ? '#.html' : '#.html');
  });