---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---
form
  br

  .row   
    .small-12.columns   
      .panel.callout.received
        .confirm-box   
          div.confirmation-two 
            img src="../../assets/images/confirmation-tick.png" width="27px" height="27px" style="margin-right:15px;"
              |Your reference number is

          div.confirmation
            |AT001-15-4

  .row
    .small-12.columns
      p.large We have sent you a confirmation email.
      p.large
        a href="#"Print this page
      hr
      br
      h3 Next steps 
      br

      .row
        .small-2.columns
          img src="../../assets/images/icon-claim.png"
        .small-10.columns
          br
          br
          p.large Write the reference number on your claim form 
      br
      .row
        .small-2.columns
          img src="../../assets/images/icon-post.png"
        .small-10.columns
          br
          br
          p.large Send your claim form to the court or tribunal dealing with your case 
      br 
      .row
        .small-2.columns
          img src="../../assets/images/icon-court.png"
        .small-10.columns
          br
          br
          p.large We'll let you know the outcome of your application

  br
  br
  br
  .row
    .small-12.medium-12.large-12.columns
      .panel
        p To whom it may concern
        p Reference: <strong>AT001-15-4</strong>
        p I have completed an online application for help with fees for a refund.
        p I paid the fee of <strong>£50</strong> on <strong>1 March 2016</strong>.
        p Yours sincerely,
        p Mr Mark Morgan

  br
  br
  br
  .row
    .small-12.columns
      a href="http://www.gov.uk" Back to GOV.UK
  br
  br
  br
  br


  