---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.medium-6.columns
      br
      h4 What income do you receive?
      p Tick all that apply
  

  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income1"
            input id="income1" name="income1" type="checkbox"
            | Wages
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income2"
            input id="income2" name="income2" type="checkbox"
            | Child benefit      
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income3"
            input id="income3" name="income3" type="checkbox"
            | Working tax credit  
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income4"
            input id="income4" name="income4" type="checkbox"
            | Child tax credit
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income5"
            input id="income5" name="income5" type="checkbox"
            | Maintenance payments
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income6"
            input id="income6" name="income6" type="checkbox"
            | Contribution-based Jobseekers Allowance (JSA)
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income7"
            input id="income7" name="income7" type="checkbox"
            | Contribution-based Employment and Support Allowance (ESA)
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income8"
            input id="income8" name="income8" type="checkbox"
            | Universal Credit
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income9"
            input id="income9" name="income9" type="checkbox"
            | Pensions (state, work, private)
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income10"
            input id="income10" name="income10" type="checkbox"
            | Rent from anyone living with you
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income11"
            input id="income11" name="income11" type="checkbox"
            | Rent from other properties you own  
  .row
    .small-12.medium-6.columns
      .options.radio
        .option
          label for="income12"
            input id="income12" name="income12" type="checkbox"
            | Other monthly income
  br
  br
  .row
    .small-12.medium-6.columns
      a href="income4.html" 
        .button.success Continue


javascript:
  $(document).ready( function() {
    buildNextUrl('3-savings.html');
    $('#fee').bind('change', function () {
      $("#next-url").attr("href", updateQueryStringParameter('fee', $(this).val()));
    });

  });
