---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.medium-6.columns
      br
      h4 What is your total monthly income, before tax and National Insurance?
  
      .row
        .small-12.medium-10.columns
          label for="form" Wages (before tax and National Insurance deductions)
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"

      .row
        .small-12.medium-10.columns
          label for="form" Child Benefit
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns
          label for="form" Working Tax Credit
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns
          label for="form" Child Tax Credit
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      
      .row
        .small-12.medium-10.columns
          label for="form" Maintenance payments
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"

      .row
        .small-12.medium-10.columns
          label for="form" Contribution-based Jobseekers Allowance (JSA)
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns
          label for="form" Contribution-based Employment and Support Allowance (ESA)
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns
          label for="form" Universal Credit
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"

      .row
        .small-12.medium-10.columns
          label for="form" Pensions (state, work, private)
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"

      .row
        .small-12.medium-10.columns
          label for="form" Rent from anyone living with you
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns
          label for="form" Rent from other properties you own
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"
      .row
        .small-12.medium-10.columns.columns
          label for="form" Other monthly income
          .small-10.medium-10.columns.end style="padding:0px;"
            input id='fee' type="number"
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='fee' £
          .small-10.medium-9.large-7.columns style="padding:0px;"
            input id='fee' type="number"

  br
  .row
    .small-12.medium-6.columns
      a href="refund.html" 
        .button.success Continue
