= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js'
javascript:
  var app = angular.module('app', []);

  app.controller('Prototype', ['$scope', function ($scope) {

    // $scope.children = 0
    $scope.fee = 410;
    $scope.resultShown = false;

    $scope.thresholds = function () {
      var couple = $scope.couple;

      var lowThreshold = 1085 + (245 * $scope.children)
      if (couple) {
        lowThreshold = lowThreshold + 160;
      }

      var highThreshold = lowThreshold + Math.min(4000, $scope.fee * 2)

      var thresholds = {
        low: lowThreshold,
        high: highThreshold
      }

      return thresholds;
    }

    $scope.incr = function (number) {
      $scope.children = $scope.children + number;
      if ($scope.children < 0) {
        $scope.children = 0;
      }
    }

    $scope.fullRemission = function () {
      return ($scope.monthlyIncome < $scope.thresholds().low);
    }

    $scope.partialRemission = function () {
      return ($scope.monthlyIncome >= $scope.thresholds().low && $scope.monthlyIncome < $scope.thresholds().high);
    }

    $scope.coupleName = function () {
      if ($scope.couple) {
        return "person who is part of a couple";
      } else {
        return "single person";
      }
    }

    $scope.feePayable = function () {
      if (this.fullRemission()) {
        return 0;
      } else if (this.partialRemission()) {
        var incomeAboveThreshold = $scope.monthlyIncome - this.thresholds().low;
        return Math.min(incomeAboveThreshold / 2, $scope.fee);
      } else {
        return $scope.fee;
      }
    }

    $scope.feeRemitted = function () {
      return $scope.fee - this.feePayable();
    }

    $scope.showResult = function () {
      if ($scope.monthlyIncome) {
        $scope.resultShown = true;
      } else {
        $scope.resultShown = false;
      }

    }

  }]);

#canvas ng-controller="Prototype"
  .row
    .small-12.medium-12.large-12.columns
      label for='r2_fee' Fee
      .row.collapse.prefix-radius
        .small-2.medium-2.large-3.columns
          span.prefix
            label.inline for='r2_fee' £
        .small-10.medium-10.large-9.columns style="padding:0px;"
          input id="r2_fee" name="r2_fee" type="number" ng-model="fee"
  .row
    .small-12.medium-6.large-5.columns
      label for='couple'
        | Part of a couple?
        .switch.radius
            input id="couple" type="checkbox" name="couple" ng-model="couple"
            label for='couple' Part of a couple?
  .row
    .small-12.medium-6.large-5.columns ng-init="children = 0"
      label.inline
        | Number of children
        .row
          .columns.small-12
            a class="button secondary tiny no_selection" ng-click="incr(-1)" -
            strong style="padding: 0 10px;" {{ children }}
            a class="button secondary tiny no_selection" ng-click="incr(1)" +
  .row
    .small-12.medium-12.large-12.columns
      label for='r2_income'
        | Gross monthly income
      .small-2.medium-2.large-3.columns style="padding:0px;"
        span.prefix £
      .small-10.medium-10.large-9.columns style="padding:0px;"
        input name="r2_income" id="r2_income" type="number" ng-model="monthlyIncome" ng-blur="showResult()"
  .row
    .small-12.medium-7.large-7.columns ng-show='resultShown'
      .panel.callout
        p Amount remitted: {{ feeRemitted() | currency:"£" }}
        p Amount to pay: {{ feePayable() | currency:"£" }}