---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      p <a href="#">Home</a> &nbsp;>&nbsp; <a href="#">Crime, justice and the law</a> &nbsp;>&nbsp; <a href="#">Courts, sentencing and tribunals</a>
      br
      h1 Apply for help with fees
      p.large You may not have to pay a court or tribunal fee, or you may get some money off.

      div You can apply online if you receive any of the benefits listed below:
      ul
        li
          span Income-based Jobseeker's Allowance
          span.hint
              |&nbsp;(JSA)
        li
            span Income-related Employment and Support Allowance
            span.hint
              |&nbsp;(ESA)
        li
            span Income Support
        li
            span Universal Credit
            span.hint
              |&nbsp;(and you’re earning less than £6,000)
        li
            span State Pension
            span.hint
              |&nbsp;(Guarantee Credit)
        li
            span Scottish Civil Legal Aid
            span.hint
              |&nbsp;(not Advice and Assistance or Advice by Way of Representation)
      br
      div To use this service you'll need:
      ul
        li your National Insurance number (if you have one)
        li details about your case or claim
      br
      p Applying takes around 10 minutes.

  .row
    .small-12.columns
      a href='form-number.html'
        .button.success Start now
  br
  .row
    .small-12.columns
      h4 Before you start
      p You can also apply if you are not receiving one of the benefits listed. You will need to apply by post using the <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a>.

      p This service is for England and Wales only.

      p The information you provide will act as evidence to support your application. We’ll contact you if we need to see additional evidence.

