---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      p <a href="#">Home</a> &nbsp;>&nbsp; <a href="#">Crime, justice and the law</a> &nbsp;>&nbsp; <a href="#">Courts, sentencing and tribunals</a>
      br
      h1 Apply for help with fees
      p.large You may not have to pay a court or tribunal fee, or you may get some money off.


      h3 Who can get help with fees?

      h5 You can apply for help with fees if you:
      ul
        li only have a small amount of savings and investments
        li and receive certain benefits
        li or are on a low income

      p Help with fees is sometimes known as ‘fee remission’.

      h5 Usually only individuals can apply for help with fees. There are some exceptions, for example:
      ul
        li sole traders (people who run their own business)
        li charities and not-for-profit organisations who are making a case to the UK Supreme Court
        li companies applying to the Gambling Appeals Tribunal
      br
      h3 How to apply

      p You will need to apply by post using the <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a>.

      p For more information on how to apply, you can read the guide <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160a-eng-2015.10.pdf" target="_blank">'Guide apply for help with court, tribunal and probate fees (EX160A)' (PDF 145KB)</a>. 
      
      p This service is for England and Wales only.

  br
  .row
    .small-12.medium-9.columns
      

      

