---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      p <a href="#">Home</a> &nbsp;>&nbsp; <a href="#">Crime, justice and the law</a> &nbsp;>&nbsp; <a href="#">Courts, sentencing and tribunals</a>
      br
      h1 Apply for help with fees
      p.large You may not have to pay a court or tribunal fee, or you may get some money off.


      h3 Check if you can get help with fees
      form 
      br
      .row
        .small-12.medium-5.large-6.columns
          label for='savings' 1. How much do you have in savings and investments? 
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='savings' £
          .small-10.medium-9.large-9.columns style="padding:0px;"
            input id='savings' type="number"

      .row
        .small-12.medium-9.large-8.columns.form-group
          #status-block
          .row
            .columns.small-12
            label 2. Are you getting one of these 6 benefits? 
            .options.radio.juri
              .option
                label for='JSA'
                  input data-check='couple' id='couple-no' name="couple" type="radio" value='false'
                  |Income-based Jobseeker's Allowance (JSA)
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |Income-related Employment and Support Allowance (ESA)
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |Income Support
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |Universal Credit (and you’re earning less than £6,000)
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |State Pension (Guarantee Credit)
              .option
                label for='couple-yes'
                  input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
                  |Scottish Civil Legal Aid (not Advice and Assistance or Advice by Way of Representation) 

      .row
        .small-12.medium-5.large-6.columns
          label for='income' 3. How much do you earn a month <strong>before</strong> tax and National Insurance? 
          .small-2.medium-3.large-3.columns style="padding:0px;"
            span.prefix
              label.inline for='income' £
          .small-10.medium-9.large-9.columns style="padding:0px;"
            input id='income' type="number" 
     


      P IF UNDER £3000 / BENEFITS RECEIVED / UNDER 1000 a month: 
      P It is likely that you'll get help with your fees. However, this is <strong>not</strong> a final decision as we'll need more information from you to assess your eligibility. Read more about <a href="#eligibility"> who is eligible </a>   

      P IF OVER £3000 / NO BENEFITS RECEIVED / OVER 1000 a month: 
      p We need more information from you to know whether you're eligible for help with fees. Your age, relationship status and court fee will all be considered. Read more about <a href="#eligibility"> who is eligible </a>   

      h3 Apply now 
      p You'll need your National Insurance number as well as details of your savings and income to hand. 
      ol 
        li Complete the application form: <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’(PDF 82KB)</a>.

        li Send the completed form to the court or tribunal dealing with your case or claim. See <a href="https://courttribunalfinder.service.gov.uk/search/ target="_blank">information about courts and tribunals</a> including contact details.
      </ol> 

      p Read the <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160a-eng-2015.10.pdf" target="_blank"> guide to applying for help with fees (PDF 145KB)</a> for more information.  
    br
    .row
      .small-12.medium-9.columns
      

      

