---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---
form
  br
  br
  .row
    .small-12.columns
      h1 You need to apply on paper  
      br
  .row
  	.small-12.medium-7.columns
      p This is a new service so not everyone is able to apply online yet. 

      p Complete an <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a> form. Submit your completed form to the court or tribunal handling your case or claim. 

      p Find contact details for all <a href="http://www.gov.uk/find-court-tribunal" target="blank"> courts and tribunals </a> in England and Wales.  