---
title: 'Apply for help with fees'
nav_title: 'GOV.UK'
---

form
  .row
    .small-12.columns
      br
      h4 What is your National Insurance number?
  br
  .row
    .small-12.medium-6.large-3.columns
      input name='form_number' id='form_number' type='text' style='margin-bottom:8px;'
      p Example: QQ 12 34 56 C

  .row
    .small-12.medium-6.columns
      p 
        details
          summary I don't know my National Insurance number
          br
          h5 You can:
          ul
            li look for your National Insurance number on payslips or official letters about tax, pensions or benefits
            li <a href='https://www.gov.uk/lost-national-insurance-number' target='_blank'>ask for a reminder through the post</a>
          br
          h5 If you can’t provide a National Insurance number
          p Complete an <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">‘Apply for help with fees (EX160)’ (PDF 82KB)</a> form and submit it to the court dealing with your case or claim.
          p You need to include a letter from the Jobcentre that confirms you're receiving benefits. It must be dated in the last 3 months. 
  br
  .row
    .small-12.columns
      a href='dob.html'
        .button.success Continue
