---
title: 'Help with fees'
nav_title: 'Help with fees'
---
form
  br
  br
  .row
    .small-12.medium-7.columns
      .panel.callout.received
        .row
          .small-12.columns
            h3 &#10003; You are likely to get help with your fees

  .row
    .small-12.columns
      hr
      br
      h4 What happens next?
      p You can now apply online to get help with your fees.
      div To use this service you'll need:
      ul
        li your National Insurance number (if you have one)
        li details about your case or claim
        li details about your income and any benefits you are receiving
      br
      p Applying takes around 10 minutes.

  .row
    .small-12.columns
      a.button.success href='case-number.html' Start now

  br
  .row
    .small-12.columns
      h4 Before you start
      p You can also <a href="http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex160-eng.pdf" target="_blank">apply by post</a>.

      p This service is for England and Wales only.

      p The information you provide will act as evidence to support your application. We’ll contact you if we need to see additional evidence.


javascript:
  $(document).ready( function() {
    //$('#spot-check-true').toggle((getUrlParameter('spotcheck'))=='true');

    //if ((getUrlParameter('spotcheck')=='false' && getUrlParameter('spotcheck')=='false')) {
      //var show = !!Math.floor(Math.random() * 2);
      //$('#spot-check-rand').toggle(!!Math.floor(Math.random() * 2));
    //}
    $('a div.button.success').on('click', function() {
      $('#copied').fadeTo(1,1).fadeTo(2000, 0);
    });
  });
