--- 
title: 'Help with fees'
nav_title: 'Help with fees'
---

br
.row
  .panel.callout.received
    .small-12.columns
      h1 Help with fees
      p Use this service to process 'Apply for help with fees' EX160 applications.

br
.row
  .small-12.medium-8.columns
    h4 Process application
    div You'll need:
    ul
      li the help with fees application form (EX160)
      li the court or tribunal form related to the application 
    br
    a.button.success href='staff/1-personal.html' 
      |Start now

    h4 Manage your office
    a href='#' Your office
    a href='#' Staff overview



  .small-12.medium-4.columns.end
    h4 Get help
    p
      a href='staff/guide/0_mainguide.html' Staff guide
    p
      a href='#.html' Give feedback
    p
    details
      summary Contact us
      div 
        p Email
        a href='mailto:helpwithfees.support@digital.justice.gov.uk' helpwithfees.support@digital.justice.gov.uk